
.c-popup-nenpyo //c-nenpyos>.e-containers>.e-col の中
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 10


  &.is-shown
    display: block

  >.e-shadow
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(0,0,0,0.4)

    pointer-events: auto

  >.e-nenpyo-wrapper
    position: absolute
    top: 2rem
    left: 0
    right: 0
    bottom: 2rem

    height: 90vh
    max-width: 100rem 

    margin: auto
    pointer-events: none
    text-align: center //子要素がinline-blockなのでセンタリングする
    display: flex
    flex-direction: column

    background: white

    >.e-header
      flex: 0 0 auto

    >.e-contents
      flex: 1 1 auto
      pointer-events: auto
      overflow: scroll

      display: flex

      text-align: left //親要素の centerを解除

      >.e-nenpyo
        flex: 0 0 $column-width

        position: relative

        width: 40rem
        max-width: 100%

        overflow: scroll

        +mq(sp)
          display: none


        >.e-header
          position: sticky
          top: 0
          z-index: 2

          background: #aaa
          border-top-left-radius: $border-radius
          border-top-right-radius: $border-radius
          height: $header-height

          >.e-title 
            margin-left: 1rem
            line-height: $header-height
            

        >.e-list
          display: flex
          flex-direction: column

          >.e-item
            display: flex

            &:hover
              >.e-year
                background: yellow
              >.e-content
                overflow: visible
                z-index: 1
                >.e-paper
                  background: yellow
                  box-shadow: 0 2px 3px rgba(0,0,0,0.3)

            >.e-year
              flex: 0 0 auto
              width: 5rem 
              background: #ddd
              padding: .5rem
              font-size: 1.2rem
              color: #aaa

            >.e-content
              flex: 1 1 auto
              overflow: hidden
              position: relative
              

              >.e-paper
                padding: .5rem
                background: white

      >.e-events
        flex: 1 1 auto
        background: white
        border-left: 5px solid orange

        overflow: scroll
        position: relative //offset の基準となるため。 子要素を

        >.e-detail
          display: flex
          flex-direction: column
          >.e-desc
            flex: 1 1 auto
            background: #eee
            padding: 2rem
            >.e-source
              display:  inline-block
              float: right
              border: solid 1px #888
              color: #888
              padding: 3px
              border-radius: 3px
              font-size: 1.4rem

              

            

