
html 
  font-size: 62.5%



body
  font-size: 1.6rem
  padding: 0
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0


* 
  box-sizing: border-box
  margin: 0
  padding: 0

h1,h2,h3,h4,h5,h6
  font-size: inherit
  


@import "./sass/foundation/_variables.sass"

@import "./sass/component/_page-wrapper.sass"
@import "./sass/component/_page-wrapper.sass"
@import "./sass/component/_nenpyos.sass"
@import "./sass/component/_sub-nenpyo.sass"
@import "./sass/component/_popup-nenpyo.sass"
@import "./sass/component/_event-item.sass"
@import "./sass/component/_nenpyo-header.sass"
@import "./sass/component/_year-lines.sass"
